<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p>
                    <font size="4px"> 
                        Hi there! My name is Alejandro Martínez-León, and I'm a radiochemist with a passion for computational chemistry and biophysics. While my background is in radiochemistry, my recent research and studies have focused heavily on computational chemistry, particularly in the realm of biophysics. I believe that understanding chemistry is the key to understanding life itself, which is why I've devoted myself to exploring the fascinating world of computational chemistry. From molecular mechanics to quantum chemistry and everything in between, I've spent years honing my skills and expanding my knowledge in this exciting field. My dream is to use these techniques to develop new drugs and diagnostic tools that can help combat some of the world's most pressing health challenges.
                    </font>
                </p>
                <p>
                    <font size="4px">
                        I'm always excited to collaborate and share my work with others, and I strongly believe in the power of open-source technology to advance scientific progress.
                    </font>
                </p>
                <p>
                    <font size="4px">
                        When I'm not in the lab, you can find me playing guitar and jamming out to my favorite music.
                    </font>
                </p>
                <p>
                    <font size="4px">
                        If you share my passion for computational chemistry and biophysics, or just want to chat about science and music, feel free to reach out!
                    </font>
                </p>

             <br/>
        </div>
<!--     <div align="center" class="row">
        <a class="twitter-timeline" data-width="400" data-height="350" href="https://twitter.com/jack-sparrow?ref_src=twsrc%5Etfw">Tweets by jack-sparrow</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> -->
    </div>
</section>






